#Maven
dependency-reduced-pom.xml

#Crashing eclipse
hs_err_pid*.log
tmp
debug-output

# Package Files #
*.jar
*.war
*.ear

target
*.bak
*.swp
*~
bin

#IntelliJ stuff
.idea
*.iml
.attach_pid*

#test files
x
xx
y
yy
z
zz
result-*.yaml
__*

# Patches related
*.patch
*.diff
*.orig
*.rej
